*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;  
    font-size: large;
}

a{
    color: #4D4D4D;
}

.content{
    width: 85%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ===================== Cabeçalho ==================== */

.cabecalho{
    width: 100%;
    height: 75px;
    background-color: #F1EEEE;
}

.menu{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_rotas{
    display: flex;
    gap: 25px;
}

.menu_entre{
    display: flex;
    gap: 25px;
}

#txt_sublinhado{
    color: #556690;
    text-decoration: underline;
    
}
/* ===================== menu acessibilidade =================== */


.area_acessibilidade{
    width: 250px;
    height: 90px;
    margin: 50px 0;
    background-color: #F1EEEE;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: fixed;
    right: 0;
}
.area_seta{
    width: auto;
    height: 90px;
    margin: 0;
    background-color: #009EE0;
    display: flex;
    align-items: center;
    cursor: pointer;   
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


/* ===================== Banner =================== */

.banner{
    width: 100%;
    height: auto;
    padding: 50px 0 ;
    display: flex;
}

.txt_banner{
    width: 50%;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.txt_banner h1{
    font-size: 55px;
    font-weight: bold;
    color: #556690;
    margin-bottom: 50px;
}

.txt_banner p{
    font-size: x-large;
    color: #676767;
    line-height: 1.2;
}

.btn_conheca{
    margin-top: 50px;
    padding: 10px;
    color: #F1EEEE;
    background-color: #009EE0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn_conheca:hover{
    background-color: #0B5CAB;
}

.img_banner{
    width: 50%;
}

/* ===================== Novidades =================== */

.novidades{
    width: 100%;
    height: auto;
}

.novidades h2{
    padding: 50px 0;
    font-size: 45px;
    text-align: center;
    color: #556690;
}

.area_cards{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.cards{
    width: 350px;
    height: 450px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    background-color: #F1EEEE;
    border-radius: 20px;
    color: #4D4D4D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.area_img{
    width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    
}

.cards p{
    padding: 0 30px;
    font-size: 20px;
    font-weight: 500;
}
/* ===================== Produtos =================== */

.container_produtos{
    width: 100%;
    height: auto;
    background-color: #AAE1F8;
}

.produtos h2{
    padding: 50px 0;
    font-size: 45px;
    text-align: center;
    color: #556690;
}

.conteudo_produtos{
    width: 85%;
    height: auto;
    display: flex;
    gap: 50px;
}

.conteudo_produtos img{
    padding: 50px 0;
}

.conteudo_produtos p{
    font-size: 30px;
}

.txt_produtos{
    width: 50%;
    color: #676767;
    line-height: 1.5;
    padding-bottom: 100px;
}

.img_produtos{
    width: 50%;
}


/* ===================== noticias =================== */

.noticias{
    width: 100%;
    height: auto;
}

.noticias h2{
    padding: 50px 0;
    font-size: 45px;
    text-align: center;
    color: #556690;
}

.area_noticias{
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #F1EEEE;
    text-align: center;
}

.area_noticias h3{
    font-size: 35px;
    text-align: start;
    color: #556690;
}

#content_noticias{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container_noticia{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: start;
}

.container_noticia p{
    font-size: 30px;
}

/* ===================== Contato =================== */

.contatos{
    width: 100%;
    height: auto;
}

.contatos h2{
    padding: 50px 0;
    font-size: 45px;
    text-align: center;
    color: #556690;
}

.contatos p, .contatos a{
    padding-bottom: 50px ;
    font-size: 35px;
    color: #556690;
}
.contatos a{
    text-decoration: underline;
}

.formulario {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding: 50px 0;
    background-color: #F1EEEE ;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.linha_campo{
    display: flex;
    
}

.area_campo {
    display: flex;
    flex-direction: column;
    
}

.area_campo label{
    text-align: start;
}
  


/* ===================== Rodapé =================== */

.rodape{
    width: 100%;
    height: auto;
    background-color: #0B5CAB;
}

.rodape_conteudo{
    width: 100%;
    height: auto;
    background-color: #F1EEEE;
    display: flex;
    align-items: center;
}

.redes{
    padding: 50px;
}

.redes h3{
    margin: 20px 0;
    color: #676767;
}

.menu_redes{
    display: flex;
    gap: 15px;
    
}

.menu_links h3,.menu_contato h3 {
    margin-bottom: 15px;
    font-size: xx-large;
    color: #556690;
    font-weight: bold;
}

.menu_links li,.menu_contato li {
    margin-left: 15px;
    line-height: 1.5;
}

.menu_contato a{
    text-decoration: underline;
}

.rodape span{
    padding: 50px;
    font-size: large;
    color: #F1EEEE;
    display: flex;
    justify-content: center;
}

